.setting-area {
 /* background-color: aqua; */
}
.error-message{
  color: red;
  font-size: 10pt;
  padding-right: 10px;
}


/* itemDialog style */

.modal-area {
  width: 800px;
  top: 10%;
}
.dialog-form-area {
  padding:25px;
}
.description {
  margin: 25px 0px;
}
.stock {
  margin-bottom: 25px;
}
.stock-mt {
  margin-top: 20px;
}
.stock-mb {
  margin-bottom: 10px;
}
.delete-btn {
  width: 50px;
  height: 38px;
  box-sizing: border-box;
}
.delete-btn-icon {
  font-size: 24px;
}
.stock-add-btn {
  margin-left: 10px;
}
.upload-image{
  max-width: 458px;
  width:100%;
}
.cloudinary {
  margin: 0 10px;
}

/* productTable */
.overflow-x{
  overflow-x:auto;
  width: 100%;
}
.overflow-x::-webkit-scrollbar {
  display: none;
}
.edit-btn-icon {
  font-size: 24px;
}
.mr-btn {
  margin-right: 10px;
  
}
.edit-btn {
  cursor: pointer;
}

 /* searchbox */
 .admin-search-area {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 30px 0;
 }
 .admin-search-box {
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #838383;
  padding-left: 10px;
 }
 .admin-search-icon {
  font-size: 32px;
  margin-left: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
