.navbar-area {
  display: flex;
  justify-content: space-between;
}
.web-logo {
  font-family: 'Forum', serif;
  font-weight: 400;
  color: #ececec;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 40px;
  letter-spacing: 2px;
}
.web-logo span {
  font-size: 30px;
}
.nav-menu1, .nav-menu2 {
  z-index: 99;
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 30px;
}
.nav-menu1{
  /* background-color: gold; */
  left: 0;
}
.nav-menu2 {
  /* background-color: greenyellow; */
  right: 0;
  display: grid;
  grid-template-columns : repeat(1, auto);
  grid-template-rows : repeat(3, 60px);
  justify-content: flex-end;
}
.nav-list, .nav-i-list {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  color:#ececec;
  cursor: pointer;
}
.nav-list {
  font-size: 20px;
  width: 90px;
  font-weight: 400;
}
.nav-i-list {
  font-size: 24px;
  width: 30px;
  text-align: center;
  position: relative;
}
.nav-i-list:hover .i-message {
  display: block;
}
.nav-app-menu {
  display: none;
}
.white-text {
  color: white;
}
.black-text {
  color: black;
}
.i-message {
  display: none;
  position: absolute;
  background-color: #3f3f3f; 
  color: #e2e2e2;
  font-weight: 500;
  padding: 5px 8px; 
  border-radius: 4px;
  right : 35px;
  top: 13px;
  z-index: 10; 
  font-size: 12px;
  text-align: center;
  height: 30px;
}
.i-message-login {
  width: 110px;
}
.i-message-logout {
  width: 68px;
}
.i-message-search {
  width: 42px;
}
.web-i-bottom-menu {
  display: flex;
  position: fixed;
  bottom: 40px;
  font-size: 25px;
  color: #ececec;
}
.web-i-bottom-menu-list {
  cursor: pointer;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .navbar-area {
    position: fixed;
    justify-content: space-between;
    background-color: skyblue;
    z-index: 99;
  }
  .nav-web-menu {
    display: none;
  }
  .nav-app-menu {
    display: block;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    /* background-color: #ececec; */
    padding: 6px 13px 0 16px;
    box-sizing: border-box;
    height: 55px;
  }
  .app-menu{
    display: grid;
    grid-template-columns : repeat(2, auto);
    grid-template-rows : repeat(1, 60px);
    justify-content: space-between;
  } 
  .app-logo {
    width: 80px;
    color: #000;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Forum', serif;
    letter-spacing: 2px;
    padding-top: 2px;
  }
  .app-logo span {
    font-size: 29px;
  }
  .nav-i-menu {
    width: 50px;
    padding-top: 5px;
    height: 45px;
    cursor: pointer;
  }
}
