/* // 공지사항 영역 */
.notice-admin-write {
  text-align: right;
  margin: 0 auto;
  max-width: 1300px;
  width: 70%;
  margin-bottom: 10px;
}
.write-btn {
  background-color: #949494;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.notice-area {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.notice-title {
  font-size: 40px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.notice-sub-title {
  font-size: 18
  px;
  margin-bottom: 20px;
  font-weight: 300;
}
.notice-table {
  display: grid;
  max-width: 1300px;
  width: 70%;
  margin: 0 auto;
}
.thead tr {
  border-top: 2px solid #868686;
  border-bottom: 1px solid #868686;
  display: grid;
  grid-template-columns: 8% 70% 12% 10%;
  height: 55px;
}
.notice-th {
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
  border-bottom: none;
}
.tbody tr {
  display: grid;
  grid-template-columns: 8% 70% 12% 10%;
  height: 60px;
}
.tbody tr th  {
  font-size: 14px;
  font-weight: 400;
  color:#6e6e6e;
  padding-top: 19px;
}
.n-paginate {
  margin-top: 30px ;
}