.product-detail-card {
  margin-top: 50px;
  padding-top: 35px;
}
.pd-img {
  width: 90%;
  max-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.product-info-area {
  padding-left: 3em;
}
.product-info:first-child {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 20px;
}
.product-info:nth-child(2) {
  font-size: 16px;
  color: #797979;
  margin-bottom: 20px;
}
.product-info:nth-child(3) {
  font-size: 23px;
  margin-bottom: 30px;
}
.size-drop-down{
  width:100%;
  padding: 10px 0;
}
.cart-add-button {
  width:100%;
  height: 45px;
}
.cart-add-button:hover {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
.warning-message{
  color:red;
}
.product-detail-category {
 text-align: right;
 width: 100%;
 margin-bottom: 70px;
 text-transform: capitalize;
 padding-bottom: 10px;
 border-bottom: 1px solid #a8a8a8;
 font-size: 12px;
}
.fixed-content-area {
  /* background-color: aqua;   */
  margin-top: 100px;
}
.fixed-content {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
.fixed-content h3{
  text-align: center;
  font-size: 22px;
  margin-top: 60px;
}
.fixed-content p {
  color: #797979;
  text-align: center;
  margin: 10px 0 30px 0px ;
}
.pro-detail-card {
  display: inline-block;
  max-width: 350px;
  margin: 20px;
  text-align: left;
}
.detail-card-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
  
}
.pro-detail-card div:nth-child(2) {
  font-weight: 600;
  margin-bottom: 10px;
}
.pro-detail-card div:nth-child(3) {
  color: #797979;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  height: auto;
  margin-bottom: 10px;
}
.store-card {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

@media all and (max-width:950px) {
  .store-card {
    grid-template-columns: repeat(2, auto);
  }
  .pd-img {
    width: 100%;
    justify-content: center; 
  }
  .product-info-area {
    padding:0 10px ;
    justify-content: center;
    text-align: center;
  }
}